/* SELECTING ALL THE APPRORIATE WIDGETS */

.light-bulb {
 display: inline-block;
	background-color: black;
 float: right;
}

.light-bulb img {
	position: relative;
	display: inline-block;
	width: 300px; 
 height: 303px;
	object-fit: contain;
}

.temperature {
	/* position: absolute; */
	display: inline-block;
 background-color: black;
 float: left;
	height: 353px;
 width: 526px;
	margin: 0;
	padding: 0;
}

.humidity {
	float: left;
	/* position: relative; */
	display: inline-block;
 background-color: black;
 float: left;
	height: 353px;
 width: 525px;
	margin: 0;
	padding: 0;
	/* width: 100%; */
} 

.light {
	background-color: black;
	width: 1050px;
	float: left;
}

.fan {
	margin: 0;
	padding: 0;
}

.fan img {
	background-color: black;
	padding: 0;
	margin: 0;
	display: inline;
	/* position: relative;
	display: inline-block; */
	height: 348px;
	width: 303px;
	object-fit: cover;
	float: left;
}

#Red, #Green, #Blue, #Yellow, #Magenta, #Cyan, #White {
		display: block;
		font-size: 20px;
		/* vertical-align: middle; */
		min-width: 150px;
		height: 100px;
		float: left;
		background-color: white;
  color: black;
  border: 1px solid LightGray;
  font-family: Times;
  margin-left: 100px;
		margin-bottom: 20px;
  margin-right: 0px;
}

#Red {
	background-color: red;
}

#Green {
	background-color: green;
}

#Blue {
	background-color: Blue;
}

#Yellow {
	background-color: yellow;
}

#Magenta {
	background-color: magenta;
}

#Cyan {
	background-color: Cyan;
}

#White {
	background-color: White;
}


/* #my-color-picker-1 {
	float: right;
}

#color-picker-output-1 {
	float: right;
} */





.coloredButtons:hover,
.coloredButtons:focus {
  background-color: #F082AC;
}

/* 1841 */
